@model JuanSilva_Examen1P.Models.JS_producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JS_producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JsnumeroSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JsnumeroSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jsprecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jsprecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JsNombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JsNombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JsDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JsDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JsFechaAgregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JsFechaAgregado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="JS_Edit" asp-route-id="@Model?.JsProductoID">Edit</a> |
    <a asp-action="JS_Index">Back to List</a>
</div>
